/* -------------------MAIN CONFIGS------------------ */
* {
  scroll-behavior: smooth;

}

body, html {
  height: 100%;
  font-family: 'Roboto', serif !important;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

hr {
  max-width: 300px;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #888;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* -------------------FRONT PAGE------------------- */
.scroll {
  background-image: url('imgs/const.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding-top: 180px;
}

.title {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
}

#two {
  height: 20px;
}

.blur {
  filter: none;
}

.fic {
  margin-top: 120px;
  -webkit-animation: pulse 2s ease-in;
  -moz-animation: pulse 2s ease-in;
   animation: pulse 2s ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.close {
  cursor: pointer;
  color: red;
}

#laner_electric {
  color: #F5D547;
  font-size: 100px;
  filter: drop-shadow(10px 10px 15px #000);
}

#logo0 {
  margin: 40px;
  filter: drop-shadow(10px 10px 5px #000);
  height: 220px;
}
    /* main anims */


    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes pulse {
      0% {
        opacity: 0.5;
     }
     25% {
        opacity: 0.7;
     }
     50% {
        opacity: 0.8;
     }
     75% {
        opacity: 1;
     }
     100% {
        opacity: 0.5;
     }
    }
    /* main anims end */

/* ---------------------NAVBAR---------------------- */

.navbar {
  background-color: white;
}

.sticky {
  position: -webkit-fixed;
  position: -moz-fixed;
  position: -ms-fixed;
  position: fixed;
  top: 0;
  width: 100%;

}

.dropdown-item {
  cursor: pointer;
}

/* ---------------------INTRO SECTION---------------------- */

.col-md-6 {
  margin-bottom: 20px;
}

.login {
  margin: auto;
  padding: 10px;
  width: 300px;
  height: auto;
  background-color: #333138;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
  -moz-box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
  box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
}

form {
  text-align: center;
}

input, textarea, .btn1 {
  padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 16px;
  transition: border .2s, background-color .2s;
}

form .field {
  background-color: #fff;
}

form .field:focus {
  border: 2px solid #3498DB;
}

form .btn, .btn1 {
  background-color: #FF312E;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
}

form .btn:hover, form .btn:active {
  background-color: #FE4A49;
  border: 2px solid #FE4A49;
}

.order {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 10000;
}

#ext {
  width: 70%;
  color: #F5D547;
  font-size: 28px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.request {
  text-align: center;
}

.order-inner {
  display: inline-block;
  width: 70%;
  max-height: 600px;
  overflow-y: scroll;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 10px 10px 9px 3px rgba(0,0,0,0.69);
  -moz-box-shadow: 10px 10px 9px 3px rgba(0,0,0,0.69);
  box-shadow: 10px 10px 9px 3px rgba(0,0,0,0.69);
  animation: 1s fade-order;
  animation-iteration-count: 1;
  animation-play-state: paused;
}

.order-inner {
  background-image: url(imgs/gg2.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-input {
    background-color: #333138;
}

.order-inner input {
  background-color: #fff;
}

.order-field {
  border: 2px solid grey
}


    /* Order anim */
    @keyframes fade-order {
      0% {
        opacity: 1
      }

      100% {
        opacity: 0
      }
    }

    /* Order anim end */

/* ----------------SECTION 2 ABOUT------------*/

.scroll2 {
  background-image: url('imgs/solar.jpg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us {
  height: 25%;
  text-align: center;
  padding-top: 5%;
}

.big {
  background-color: rgb(51, 49, 56);
  color: #fff;
  -webkit-box-shadow: 0px 34px 25px -8px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 34px 25px -8px rgba(0,0,0,0.74);
  box-shadow: 0px 34px 25px -8px rgba(0,0,0,0.74);
}

.big h1, .big h3 {
  color: #F5D547
}

.big .card-outer {
  background: grey;
}



.big .card-par {
  color: #fff;
}


.card-par {
  margin: 8% 20px 0 20px;
}

.card-par li {
  list-style-type: none;
  text-align: left;
}

.xtr {
  margin: 40px;
}

.car {
  margin: 30px;
}

.article a {
  color: #F5D547
}

.news_over {
  overflow-y: scroll;
  height: 200px;
}

.project-section {
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom, #333138, #FFF 100%)
}

.project-section h1, .jumbotron h1{
  color: #F5D547
}

.project-card {
  background-color: #fff;
  text-align: left;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
  -moz-box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
  box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
}

.project-card img {
  height: auto;
  width: 100%;
}

/* continue from */
#map_embed {
  height: 40vh;
  width: 300%;
  margin: 0;
  padding: 0;
}

.bottom {
  margin-top: 20px;
  display: inline-block;
}

.map-link {
  cursor: pointer;
}



.ic {
 text-align:  center;
}

.ic i {
  margin: 20px;
}

.card-outer{
  border-radius: 15px 5px 15px 5px;
  max-width: 420px;
  min-height: 300px;
  -webkit-box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
  -moz-box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
  box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
}

.card-outer:hover {
  animation: 1s shadow;
  -webkit-animation-fill-mode: forwards;
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
    box-shadow: 10px 10px 16px -6px rgba(0,0,0,0.46);
  }

  100% {
    -webkit-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.83);
    -moz-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.83);
    box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.83);
  }
}

/* #F5D547 */
.card-icon{
  color: #333138;
  border-radius: 10px 2px 0px 0px;
  margin: 0px;
  height: 100%;
  filter: drop-shadow(5px 5px 20px #000);
}

.Subscribe {
  height: 450px;
  background: radial-gradient(ellipse farthest-corner at 0 140%, #F5D547 0%, #FF312E 70%, #FE4A49 70%);

}

.est {
  padding-right: 80px;
  text-align: left;
}

.place {
  float: left;
}
.sub-inner {
  margin-top: 10%;
}


.request a:link, .request a:visited {
  font-size: 15px;
  color: #7E8D85;
}

.covid {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 10000;
  position: absolute;
  padding-left: 18%;
  padding-right: 18%;
}

.covid:after {
  transition: 2s;
}

.final-card {
  text-align:center;
}

.final-card-inner img{
  filter: drop-shadow(10px 10px 20px #000);
}



.inner-cv {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10%;
  animation: formFade 1s ease-in;
}




footer {
  background-color: #333138;
  color: #F5D547;
  text-align: center;
  height: 50px;
  padding-top: 10px;
}

.end {
  background-color: #333138;
  padding: 0px;
  height: auto;
  color: #F5D547;
}

.contact .field2, textarea {
  background-color: #333138;
  border-bottom: 2px solid #F5D547;
  border-left: 2px solid #F5D547;
  border-radius: 0px 0px 0px 20px;
  transition: 0.2s ease
}

.contact .field2:not(textarea) {
  height: 40px;
}

.contact .field2:focus, textarea:focus {
  outline: none;
  filter: drop-shadow(10px 10px 20px #000);

}

.btn2 {
  border-radius: 0px 0px 0px 20px;
}

.sec1 {
  padding-top: 40px;
}

.mobl {
  display: none;
}



#logo1 {
  max-width: 60px;
  margin-top: -7px;
  margin-right: 7px;
}

@keyframes formFade {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.faic {
  margin: auto auto auto 10px;
}

.faic:hover {
  transition: 0.5s;
  color: #7E8D85;
}

#select_field{
  margin: 5px;
}

.scroll3 {
  background-image: url('imgs/set.jpg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#majax {
  width: 100%;
}

#x {

  z-index: 10001;
  color: #FF312E;
  position: sticky;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jumbotron {
  text-align: center;
}


@media only screen and (max-device-width: 1366px) {


  .project-section {
    overflow-y: scroll;
    height: 500px;

  }

  .order-img {
    display: none;
  }

  .title .down {
    display: none;
  }

  .scroll, .scroll2, .scroll3 {
    background-attachment: scroll;
  }

  #map_embed {
    margin: 20px;
    width: 300px;
    height: 250px;
  }


  .scroll {
    padding-top: 20px;
  }

  .nmob {
    margin-top: 50%;
  }

  .navbar-brand, .navbar-right {
    display: none;
  }

  .mobl {
    display: inline-block;
  }

  #logo0 {
    height: 100px;
  }

  .title {
    margin-bottom: 20%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
  }

  .Subscribe {
    height: 75%;
  }

#laner_electric {
  font-size: 70px;
}

  .card-outer {
    margin-top: 20px;
  }

  .car {
    margin: 0;
    max-height: 80px;
    max-width: auto;
  }

  .est {
    padding-right: 0;
    margin: 20px;
  }

  .Subscribe {
    height: 500px;
  }
}
