* {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  font-family: 'Cardo', serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
}

.navbar {
  background-color: white;
}

#two {
  height: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#laner_electric {
  color: yellow;
  font-size: 100px;
  animation: 1s ease-out 0s 1 slideLeft
}

#logo {
  margin: 40px;
  animation: 1s ease-in 0s 1 fadeIn
}

#slogan {
  animation: 1s ease-out 0s 1 slideRight
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll {
  background-image: url('imgs/const.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.fas {
  margin-top: 20px;
  -webkit-animation: pulse 2s ease-in;
  -moz-animation: pulse 2s ease-in;
   animation: pulse 2s ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
 }
 25% {
    opacity: 0.7;
 }
 50% {
    opacity: 0.8;
 }
 75% {
    opacity: 1;
 }
 100% {
    opacity: 0.5;
 }
}

.scroll2 {
  background-image: url('imgs/gg.png');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  height: auto;
  background-color: #e5e4e2;
  border-radius: 5px;
}

#ext {
  width: 70%;
  color: #777;
  font-size: 28px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

#about {

}

form {
  text-align: center;
}

input, textarea {
  padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 16px;
  transition: border .2s, background-color .2s;
}

form .field {
  background-color: #ECF0F1;
}

form .field:focus {
  border: 2px solid #3498DB;
}

form .btn {
  background-color: #3498DB;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
}

form .btn:hover, form .btn:active {
  background-color: #1F78B4;
  border: 2px solid #1F78B4;
}

.request {
  text-align: center;
}

.request a:link, .request a:visited {
  font-size: 15px;
  color: #777;
}

.covid {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
}

.inner-cv {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 25%;
  text-align: center;
  animation: formFade 1s ease-in;
}







@keyframes formFade {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.scroll3 {
  background-image: url('imgs/set.jpg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  text-align: center;
}

#map {
  margin: 20px auto 20px auto;
  max-width: 400px;
  height: 250px;
}

@media only screen and (max-device-width: 1366px) {
  .scroll, .scroll2, .scroll3 {
    background-attachment: scroll;
  }



}
