* {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  font-family: 'Cardo', serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
}

.navbar {
  background-color: white;
}

#two {
  height: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.title {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6));
}

.blur {
  filter: none;
}

#laner_electric {
  color: #F5D547;
  font-size: 100px;
  animation: 1s ease-out 0s 1 slideLeft
}

#logo {
  margin: 40px;
  animation: 1s ease-in 0s 1 fadeIn
}

#slogan {
  animation: 1s ease-out 0s 1 slideRight
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll {
  background-image: url('imgs/const.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding-top: 180px;
}

.fas {
  margin-top: 120px;
  -webkit-animation: pulse 2s ease-in;
  -moz-animation: pulse 2s ease-in;
   animation: pulse 2s ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
 }
 25% {
    opacity: 0.7;
 }
 50% {
    opacity: 0.8;
 }
 75% {
    opacity: 1;
 }
 100% {
    opacity: 0.5;
 }
}

.scroll2 {
  background-image: url('imgs/gg.png');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-md-6 {
  margin-bottom: 20px;
}

.car {
  margin: 30px;
}

.login {
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  height: auto;
  background-color: #333138;
  border-radius: 5px;
}

.bottom {
  margin-top: 20px;
}

#ext {
  width: 70%;
  color: #fff;
  font-size: 28px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

form {
  text-align: center;
}

input, textarea {
  padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 16px;
  transition: border .2s, background-color .2s;
}

form .field {
  background-color: #fff;
}

form .field:focus {
  border: 2px solid #3498DB;
}

form .btn {
  background-color: #FF312E;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
}

form .btn:hover, form .btn:active {
  background-color: #FE4A49;
  border: 2px solid #FE4A49;
}

.order {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 10000;
}

.order-inner {
  margin-left: 25%;
  margin-top: 10%;
  background-color: white;
  width: 50%;
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 5px;
}

.order-inner input {
  background-color: grey;
}

.request {
  text-align: center;
}

.about-us {
  height: 25%;
  text-align: center;
  padding-top: 5%;
}

.ic {
 text-align:  center;
}

.ic i {
  margin: 20px;
}



.Subscribe {
  height: 45%;
  background: radial-gradient(ellipse farthest-corner at 0 140%, #F5D547 0%, #FF312E 70%, #FE4A49 70%);
}

.sub-inner {
  margin-top: 10%;
}


.request a:link, .request a:visited {
  font-size: 15px;
  color: #7E8D85;
}

.covid {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 10000;
  position: absolute;

}

.covid:after {
  transition: 2s;
}

.inner-cv {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10%;
  text-align: center;
  animation: formFade 1s ease-in;
}


footer {

  background-color: #FF312E;
  color: white;
  text-align: center;
  height: 50px;
  padding-top: 10px;
}

.end {
  background-color: #7E8D85;
  padding: 0px;
  height: auto;
}

.sec1 {
  padding-top: 40px;
}

#logo0 {

}

#logo1 {
  max-width: 60px;
  margin-top: -7px;
  margin-right: 7px;
}

@keyframes formFade {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.fa {
  margin: auto auto auto 10px;
}

.fa:hover {
  transition: 0.5s;
  color: #7E8D85;
}

.scroll3 {
  background-image: url('imgs/set.jpg');
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  text-align: center;
}

#map {
  margin: auto;
  max-width: 300px;
  height: 350px;
}

@media only screen and (max-device-width: 1366px) {
  .scroll, .scroll2, .scroll3 {
    background-attachment: scroll;
  }

  .mob {
    display: inline-block;
  }
